
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/styles/registration.css">
    <link rel="stylesheet" href="~/styles/common.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet">
    <title>TODO List</title>
</head>
<body>
    <div class="container">
        <form>
            <div>
                <input type="text" placeholder="Ім'я">
            </div>
            <div>
                <input type="number" placeholder="Вік">
            </div>
            <div>
                <input type="text" placeholder="Пошта">
            </div>
            <div>
                <input type="text" placeholder="Пароль">
            </div>
            <button type="submit">Зареєструватись</button>
        </form>
    </div>
</body>
</html>