

button { 
    border: none;
    color:aliceblue;
    margin: 10px 0;
    background-color: #10A37F;
    border-radius: 0.5em;
    height: 35px;
    font-family: 'Outfit', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    width: 150px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
